body {
    background: rgb(116, 112, 112);
    padding-top: 15vh;
    background-color: #2b2626;
    background-size: cover;
    background-position: center;
    object-fit: contain;
}
.btn-login a{
   color: rgb(240, 224, 224);
   background-color: rgb(18, 17, 17);
   border-radius: 50px;
}
h4{
    margin-bottom: 40px;
    margin-top: 30px;
}

form {
    background: rgb(142, 133, 133);
}

.form-container {
    border-radius: 40px;
    padding: 30px;
    height: auto;
}

.container {
    display: flex;
    min-height: 100vh;
}

.form-group {
    margin-bottom: 1rem;
}

.login-button {
    display: block;
    margin: 0 auto;
    background-color: #c66666;
    border: none;
    color: #fff;
    padding: 10px 40px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.login-button:hover {
    background-color: #da5353;
}

.form-footer {
    margin-top: 10px;
}

.form-check-input[type="radio"] {
    margin-top: 0.3rem;
    margin-right: 0.5rem;
}

.dropdown-menu {
    min-width: unset;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}

.text-white{
    display: block;
    margin: 0 auto;
    background-color: #1674d9;
    border: none;
    color: #fff;
    padding: 10px 10px;
    border-radius: 50px;
    margin-left: 160px;
    margin-right: 165px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.text-white:hover {
    background-color: #c95858;
}